@import "reset.css";
@import "bootstrap.css";

.flex-container {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

.flex-sidenav {
    background-color: lightblue;
    width: 0;
    transition: all 0.3s ease;
}

.flex-sidenav-inner {
    width: 20%;
    padding: 15px;
}

.flex-sidenav.open {
    background-color: lightblue;
    height: 50vh;
    width: 20%;
}

.flex-content {
    background-color: lightcoral;
    height: 50vh;
    width: 80%;
    padding: 15px;
}
